.sett-ms-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
}

.title-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.refresh-icon {
  cursor: pointer;
  fill: var(--color-on-surface);
}

.loading {
  cursor: progress;
  animation: spin-animation 2s linear infinite;
}

.top-right-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.center {
  margin: auto;
}

.result-success {
  padding: 10px;
  display: block;
  border-radius: 4px;
  color: var(--color-success-text);
  background-color: var(--color-success);
}

.result-error {
  padding: 10px;
  display: block;
  border-radius: 4px;
  color: var(--color-error-text);
  background-color: var(--color-error);
}

.mediaserver-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.mediaserver-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  gap: 10px;
  max-width: 500px;
  padding: 12px;
  border: 2px solid var(--color-outline);
  border-radius: 8px;
  background-color: var(--color-surface-container);
  color: var(--color-on-surface);
  position: relative;

  @media (max-width: 765px) {
    margin: auto;
    width: 100%;
  }
}

.card-link {
  position: absolute;
  inset: 0;
}

.mediaserver-card .title {
  grid-row: 1;
  grid-column: 1 / span 2;
  color: var(--color-primary);
  text-align: center;
}

.mediaserver-card .content {
  grid-row: 2;
  grid-column: 1;
}

.mediaserver-card .link-image {
  grid-row: 2;
  grid-column: 2;
  width: auto;
  margin: auto;
  position: relative;
  pointer-events: none;
  z-index: 1;

  img {
    width: 3rem;
    height: 3rem;
    pointer-events: all;
  }
}

.mediaserver-card .buttons {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
}
